body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Tahoma, sans-serif;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: whitesmoke;
}
.card{
    /* border: 2px solid red; */
    
    height: 250px;
    width: 250px;
    position: relative;
    display: block;
    box-shadow: 5px 5px 20px black;
    background-color: rgb(0, 0, 0,0.30);
}
.card-title{
    /* border: 2px solid yellow; */

    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    z-index: 5;
    

}
.card-title span{
    font-size: 15px;
    font-weight: 800;
}
img{
    height: 100px;
    width: 100px;
    border-radius:100%;
    transition: all ease-out 1s;
}
.card-content{
    /* border: 2px solid yellowgreen; */

    color: black;
    background-color: rgba(246, 214, 51, 0.75);
    height: 2%;
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: 12px;
    transition: all ease-out 1s;
}
.card-content p{
    margin-top: 30%;
}
.card-content a{
    text-decoration: none;
}

.card:hover img{
    height: auto;
    width: 40px;
    z-index: 5;
}
.card:hover .card-title{
    /* border: 2px solid yellowgreen; */
    height: 60px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
    color: black;
}

.card:hover .card-content{
    /* border: 2px solid yellow; */
    
    height: 250px;
    width: fit-content;
}