*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    padding: 5%;
    color: #1e1e1e;
}
/* container */
.card{
    border: 2px solid red;

    height: 250px;
    width: 250px;
    padding: 3% 3%;
    background-color: #fff;

    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-out .3s;

}

img{
    border: 2px solid yellow;

    height: 200px;
    width: 250px;
    transition: all ease-out .3s;
}
/* no need transistions */
h2{
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 20%;
    /* transition: all ease-out .3s; */

}
p{
    font-size: 12px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff;
}
/* no transistions */
.btn{
    border: 1px solid #1e1e1e;
    background-color: #1e1e1e;
    font-size: 12px;
    border-radius: 20px;
    margin-top: 10px;
    width: 90px;
    padding: 4px 15px;
    margin-left: 50%;

    /* transition: all ease-out .3s; */

}
.card-bg{
    height: 2%;
    background-color: #FFC641;
    
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    transition: all ease-out .3s;

}

.header {
    border: 2px solid yellowgreen;
    height: 80px;
    width: auto;
    z-index: 1;
}
.content-body{
        /* border: 2px solid orange; */
        padding: 10px 10px;
        opacity: 0;
        z-index: 1;
        transition: all ease-out .3s;

}

.content{
    /* border: 2px solid yellow; */

    width: 100%;

    display: grid;
    grid-template: 0fr 0.5fr;
    gap: 5px;
    transition: all ease-out .3s;

}


/* hover -------->> */

.card:hover .card-bg{
    height: 100%;
    z-index: 0;
}
.card:hover img{
    height: 50px;
    width: 50px;
    padding-left: 10px;
}
.card:hover h2{
    margin-left: 10px;
    color: #1e1e1e;
}

.card:hover .content-body{
    border: 2px solid yellow;
    opacity: 1;
    padding-top: 5px;
    color: #1e1e1e;
}